body{
    padding: 5px;
}
.mr-2{
    padding-right: 10px;
}
#navbar{
    background: rgb(2,0,36);
background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(194,23,61,1) 25%, rgba(214,89,16,1) 93%);
margin-bottom: 10px;
}
#searchbx{
    margin-left: 10px;
    margin-right: 10px;
}
#searchbtn{
    margin-left: 10px;
}
.searchList{
    max-width: 50vh;
}

.recipediv{
    display: flex;
    flex-direction: row;
}

.recipeimage{
    max-width: 400px;
    margin-bottom: 10px;
}
.list-item{
    color:  rgba(2,0,36,1);;
}
.container{
    display: flex;
    flex-direction: row;
}
#wordingDiv{
    padding-top: 45px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.grid{
    height: 500px;
    background-color: red;
}
.cardingDiv {
    --bg: rgba(2,0,36,1);
    position: relative;
    padding: 9px;
    background-color: var(--bg);
    border-radius: 35px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
  
  .card-ovly {
    position: absolute;
    inset: 0;
    pointer-events: none;
    background: repeating-conic-gradient(var(--bg) 0.0000001%, var(--grey) 0.000104%) 60% 60%/600% 600%;
    filter: opacity(10%) contrast(105%);
  }
  
  .card-in {
    display: -webkit-box;
    padding: 10px;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-height: 800px;
    background-color: var(--contrast);
    border-radius: 20px;
    /* Content style */
    font-size: 15px;
    font-weight: 900;
    color: #c7c4c4;
    text-align: center;
    font-family: monospace;
  }